{% load static %}

<!DOCTYPE html>

<html lang="en">

  <head>
      <!-- Required meta tags -->

      <meta charset="UTF-8">

      <meta name="viewport" content="width=device-width, initial-scale=1">


      <!-- Bootstrap CSS -->

      <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

      <link rel="icon" href="{% static 'healthcare_icon.png' %}" type="image/x-icon">

      {% block css %}

      {% endblock %}


      <style>
        #user_profile {
          border-radius: 100px;

        }
        .navbar-custom {
            background-color: #97e6d3;
        }
      </style>

      <title>{% block title %}{% endblock %}</title>

  </head>



  <body>

    <nav class="navbar navbar-expand-lg navbar-light navbar-custom fw-bold fs-5 shadow-lg rounded" style="margin:10px">

      <div class="container-fluid">

        <a class="navbar-brand" href="{% url 'staff:index' %}">

            <img src="{% static 'healthcare_icon.png' %}" alt="" width="50" height="45" class="d-inline-block align-text-top">

        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">

          <span class="navbar-toggler-icon">

          </span>

        </button>



        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav me-auto mb-2 mb-lg-0">

            <li class="nav-item">

              <a class="nav-link active" id="staff_base" aria-current="page" href="{% url 'staff:index' %}">
                Home
              </a>

            </li>


            <li class="nav-item">

              <a class="nav-link" id="pending" aria-current="page" href="{% url 'staff:index' %}?subset=p">
                Pending
              </a>

            </li>


            <li class="nav-item">

              <a class="nav-link" id="accepted" aria-current="page" href="{% url 'staff:index' %}?subset=a">
                Accepted
              </a>

            </li>


            <li class="nav-item">

              <a class="nav-link" id="delivered" aria-current="page" href="{% url 'staff:index' %}?subset=d">
                Delivered
              </a>

            </li>


            <li class="nav-item">

              <a class="nav-link" id="stock_requests_made" aria-current="page" href="{% url 'staff:stock_requests_made' %}">
                Stock Requests
              </a>

            </li>

            <li class="nav-item">

              <a class="nav-link" id="expired_item_details" aria-current="page" href="{% url 'staff:expired_item_details' %}">
                Check Expired Items
              </a>

            </li>


          </ul>



          <div class="dropdown" >

            <button id="user_profile" class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">

              <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
              </svg>

            </button>

            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">

              <li>

                <a class="dropdown-item fw-bold fs-5" href="{% url 'accounts:change_password' %}">

                  Change Your Password

                </a>

              </li>

            </ul>

          </div>

          <p class="fs-5" style="margin:5px;">

            Logged In ({{ user.username }})

          </p>

          <a href="{% url 'accounts:logout' %}" class="btn btn-danger" style="margin:5px;">
            Log Out
          </a>

        </div>

      </div>

    </nav>

    {% block content %}

    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous">

    </script>

  </body>

</html>