{% extends 'home_base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fontawesome/fontawesome-free@5.15.4/css/fontawesome.min.css" integrity="sha384-jLKHWM3JRmfMU0A5x5AkjWkw/EYfGUAGagvnfryNV3F9VqM98XiIH7VBGVoxVSc7" crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'medicine/style.css' %}">

  <style>
    body {
      background: url({% static 'medicine/images/medicine_template.jpeg' %});
      background-repeat: no-repeat;
      background-position: center down;
      background-size: cover;
    }
  </style>
{% endblock %}

{% block title %}{{ medicine_object.trade_name }}{% endblock %}

{% block content %}

    <div class="card" style="width: 100%;">

      <div class="card-body">

        <h1 class="fw-bold fs-1 m-3">

          {{ medicine_object.trade_name }}

        </h1>

      </div>

    </div>

    <div class="card-body">

      <h3 class="fs-3 m-3">

        {{ medicine_object.scientific_name }}

      </h3>

    </div>

    {% with medicine_object.id|slugify as ID %}

      {% with 'medicine/images/medicine_'|add:ID|add:'.jpeg' as image_src %}

          <div class="card" style="float:right; margin: 20px; width: 18rem;">

            <div class="card-body">

              {% if medicine_object.image %}
                <img src="{{ medicine_object.image.url }}" class="card-img-top shadow" alt="No Image">
              {% else %}
                <img class="card-img-top shadow" alt="No Image">
              {% endif %}

              <h5 class="card-title">
                Image
              </h5>

            </div>

          </div>

      {% endwith %}

    {% endwith %}

    <div class="card" style="width: 50%; margin: 20px;">

      <div class="card-body">

        <h5 class="card-title">
          Description
        </h5>

        <p class="card-text">
          {{ medicine_object.description }}
        </p>

      </div>

    </div>

    <div class="card" style="display: inline-block; margin-left: 20px; width: 18rem;">

      <div class="card-body">

        <h5 class="card-title">
          Price
        </h5>

        <p class="card-text fw-bold" style="color:#00a808;">

          &#8377;{{ medicine_object.selling_price }}

        </p>

      </div>

    </div>

    <div class="card" style="display: inline-block; margin: 10px; width: 18rem">

      <div class="card-body">

        <h5 class="card-title">
          Average User Rating
        </h5>

        <p class="card-text fw-bold" style="color:#FFBF00;">
          {{ medicine_object.avg_rating }} stars
        </p>

      </div>

    </div>

    <div class="card" style="display: inline-block; margin-left: 20px; width: 28rem;">

      <div class="card-body">

        <h5 class="card-title">
          Manufactured By
        </h5>

        <p class="card-text fw-bold" style="color:#0307fc;">

          {{ medicine_object.vendor_id }}

        </p>

      </div>

    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}